{% extends 'base.html.twig' %}

{% block body %}
    <div class="lien">
        <p>
            <a href="{{ path('homepage') }}">
                Accueil
            </a>
        </p>
        <p>
            <a href="{{ path('products') }}">
                Liste de tous les produits
            </a>
        </p>
        <p>
            <a href="{{ path('add') }}">
                Ajouter un nouveau produit
            </a>
        </p>
    </div>

<h1>Liste de tous les produits</h1>
{% for product in products %}
<p>
    <p><img src="/uploads/{{product.image}}" width="200px"/></p>
    <a href="{{ path('productsinfo',{id:product.id}) }}">
        {{ product.name }}
    </a>
</p>

{% endfor %}


{% endblock %}